Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
/hs_err_pid33028.log
/src/main/resources/public/
/lib/javax.ejb.jar
/lib/javax.jms.jar
/lib/javax.persistence.jar
/lib/javax.resource.jar
/lib/javax.servlet.jar
/lib/javax.servlet.jsp.jar
/lib/javax.servlet.jsp.jstl.jar
/mariadb-java-client-2.7.3.jar_/
